@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.sidebar{
  position: fixed;
  height: 100%;
  width: 300px;
  background: #0A2558;
  transition: all 0.5s ease;
}
.sidebar.active{
  width: 60px;
}
.sidebar .logo-details{
  height: 80px;
  display: flex;
  align-items: center;
}

.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}

.notification {
  background-color: #555;
  color: white;
  text-decoration: none;
  padding: 10px 14px;
  position: relative;
  display: inline-block;
  border-radius: 50%;
}

.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 2px 9px;
  border-radius: 50%;
  background-color: red;
  color: white;
}

.sidebar .institute{
	font-size:20px;
	color:white;
	font-family: calibri;
	top: 55px;
	left: 17%;
	position: absolute;
}

.sidebar .nav-links{
  margin-top: 10px;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  height: 50px;
}
.sidebar .nav-links li a{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li a.active{
  background: #081D45;
}
.sidebar .nav-links li a:hover{
  background: #081D45;
}
.sidebar .nav-links li i{
  min-width: 60px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}
.sidebar .nav-links li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
}
.sidebar .nav-links .log_out{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.home-section{
  position: relative;
  background: #f5f5f5;
  min-height: 175vh;
  width: 100%;
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section{
  width: 100%;
  left: 60px;
}
.home-section nav{
  display: flex;
  justify-content: space-between;
  height: 175px;
  background: #fff;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section nav{
  left: 60px;
  width: calc(100% - 60px);
}
.home-section nav .sidebar-button{
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}
nav .sidebar-button i{
  font-size: 35px;
  margin-right: 10px;
}
.home-section nav .search-box{
  position: relative;
  height: 50px;
  max-width: 550px;
  width: 100%;
  margin: 0 20px;
}
nav .search-box input{
  height: 100%;
  width: 100%;
  outline: none;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
}
nav .search-box .bx-search{
  position: absolute;
  height: 40px;
  width: 40px;
  background: #2697FF;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  transition: all 0.4 ease;
}
.home-section nav .profile-details{
  display: flex;
  align-items: center;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  height: 50px;
  min-width: 190px;
  padding: 0 15px 0 10px;
}

nav .profile-details .admin_name{
  font-size: 15px;
  font-weight: 500;
  color: #333;
  margin: 0 10px;
  white-space: nowrap;
}
nav .profile-details i{
  font-size: 25px;
  color: #333;
}
.home-section .home-content{
  position: relative;
  padding-top: 104px;
}
.home-content .overview-boxes{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
  margin-bottom: 26px;
}
.overview-boxes .box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100%/2 - 20px);
  background: #fff;
  padding: 40px 100px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.overview-boxes .box-topic{
  font-size: 20px;
  font-weight: 500;

}
.home-content .box .number{
  display: inline-block;
  font-size: 35px;
  margin-top: -6px;
  font-weight: 500;
  
}


.home-content .box .cart{
  display: inline-block;
  font-size: 32px;
  height: 50px;
  width: 50px;
  background: #cce5ff;
  line-height: 50px;
  text-align: center;
  color: #66b0ff;
  border-radius: 12px;
  margin: -15px 0 0 6px;
}
.home-content .box .cart.two{
   color: #2BD47D;
   background: #C0F2D8;
 }
.home-content .box .cart.three{
   color: #ffc233;
   background: #ffe8b3;
 }
.home-content .box .cart.four{
   color: #e05260;
   background: #f7d4d7;
 }
.home-content .total-order{
  font-size: 20px;
  font-weight: 500;
}
.home-content .sales-boxes{
  display: flex;
  justify-content: space-between;
  /* padding: 0 20px; */
}


/* Responsive Media Query */
@media (max-width: 1240px) {
  .sidebar{
    width: 60px;
  }
  .sidebar.active{
    width: 220px;
  }
  .home-section{
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section{
    /* width: calc(100% - 220px); */
    overflow: hidden;
    left: 220px;
  }
  .home-section nav{
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section nav{
    width: calc(100% - 220px);
    left: 220px;
  }
}
@media (max-width: 1150px) {
  .home-content .sales-boxes{
    flex-direction: column;
  }
 
  .home-content .sales-boxes .recent-sales{
    width: 100%;
    background: #fff;
    padding: 100px 100px;
    margin: 0 20px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    top:50px;
  }
}
@media (max-width: 1000px) {
  .overview-boxes .box{
    width: 100%;
    margin-bottom: 15px;
  }
}
@media (max-width: 700px) {
  nav .sidebar-button .dashboard,
  nav .profile-details .admin_name,
  nav .profile-details i{
    display: none;
  }
  .home-section nav .profile-details{
    height: 50px;
    min-width: 40px;
  }
  .home-content .sales-boxes .sales-details{
    width: 560px;
  }
}
@media (max-width: 550px) {
  .overview-boxes .box{
    width: 100%;
    margin-bottom: 15px;
  }
  .sidebar.active ~ .home-section nav .profile-details{
    display: none;
  }
}
  @media (max-width: 400px) {
  .sidebar{
    width: 0;
  }
  .sidebar.active{
    width: 60px;
  }
  .home-section{
    width: 100%;
    left: 0;
  }
  .sidebar.active ~ .home-section{
    left: 60px;
    width: calc(100% - 60px);
  }
  .home-section nav{
    width: 100%;
    left: 0;
  }
  .sidebar.active ~ .home-section nav{
    left: 60px;
    width: calc(100% - 60px);
  }
}

/*drop-down*/

#profit{
	width: 25%;
	padding: 5px;
	font-size: 16px;
	border: 2px solid;
	border-radius: 16px;
	font-family:calibri;
}

.svg-item {
    width: 100%;
    font-size: 16px;
    margin: 0 auto;
    animation: donutfade 1s;
}

@media (min-width: 992px) {
    .svg-item {
        width: 80%;
    }
}


.radio {
	padding-left:28%;
}

.month{
	padding-left:52%;
}

.search-std td , .search-std th{
	padding: 8px 20px;
	border-width: 1.5px;
}

.search-std th {
	background-color:  #9b9bff;
}

.search-std td {
	background-color: #dddddd;
}

.form {
	position: relative;
	padding: 30px 100px 50px 100px;
	opacity: 0.8;
	background-color: #f5f5f5;
	left: 18%;
	width: 65%;
	font-family: calibri;
	font-size: 16px;
}

.text {
	width: 35%;
	padding: 5px;
	float: right;
	font-size: 14px;
	border: 2px solid;
	border-radius: 16px;
	text-align: center;
	border-style: none;
}

#month{
	width: 35%;
	padding: 5px;
	font-size: 16px;
	border: 2px solid;
	border-radius: 16px;
	font-family:calibri;
	border-style: none;
}

.add-salary{
	padding: 6px 20px;
	font-size: 16px;
	background-color: #0d9b78;
	border: none;
	cursor: pointer;
	color:white;
}

.add-salary:hover {
	background-color: #b5f9e8;
	color:black;
}

.logo{
    background-color:#0d9b78;
    overflow:hidden;
}

.home-section .topnav{
    overflow:hidden;
    float: right;
    left:75%;
}

.topnav a{
    color:#4daa7a;
    text-align:right;
    padding:14px 18px;
    text-decoration:none;
    font-size:20px;
    font-family:calibri;
    
}

.topnav a:hover{
	color:black;
}

body{
    background-image: url;
}

.logo{
    width:150px;
    height:150px;
    border-radius:50%;
    position:absolute;
    left:80%;

}
