.loginpage_rightcomponent { 
    width: 400px;
    padding-bottom: 25px;
    border: 1px solid #DBDBDB;
    margin-top: 25px;
    background-color: rgb(255, 255, 255);
    padding-left: 10px;
}

.loginPage__signin, .loginPage__signup {
    margin-top: 10px;
    font-size: 15px;

}

.loginpage_rightcomponent input[type = "text"], input[type = "email"]{
    width: 350px;
    font-size: 14px;
}
