#mySidenav a {
    position: absolute;
    left: -110px;
    transition: 0.2s;
    padding: 12px;
    width: 150px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 6px 6px 0;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: left;
  }
  
  #mySidenav a:hover {
    left: 0;
  }

  #home {
    top: 20px;
    background-color: #04AA6D;
  }
  
  #volunteers {
    top: 80px;
    background-color: #2196F3;
  }
  
  #reports {
    top: 140px;
    background-color: #f44336;
  }
  
  #about {
    top: 200px;
    background-color: #7a0485;
  }

  #contact {
    top: 260px;
    background-color: #555
  }

  .navbar__barContent {
    height: 100px;
    border-bottom: 1px solid #dbdbdb;
    padding-top: 10px;
}
.navbar_logo{
    width: 8%;
    padding-right: 20px;
    border-radius: 50%;
    float:right;
}

span {
    font-size: 20px;
    font-weight: 600;
}

