#mySidenav a {
    color: rgb(0, 0, 0);
    margin-left: 50px;
    font-weight: 500;
    font-size: 14px;
}

.sidenav{
  float: left;
}
  
.navbar__barContent {
    height: 50px;
    border-bottom: 1px solid #dbdbdb;
    padding-top: 10px;
    background-color: rgb(17, 160, 112);
}

.navbar_logo{
    width: 80px;
    margin-left: 10px;
    border-radius: 50%;
    margin-top: -7px;
    float:left;
}

span {
    font-size: 20px;
    font-weight: 500;
}

.appname{
  font-size: 26px;
  padding-left: 20px;
  padding-top: -20px;
  color: rgb(0, 24, 19);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}